@media  screen and (max-width:600px) {
    .nav , .nav-list{
        flex-direction: column;
    }

    .nav-list{
        align-items: center;
    }
    .banner {
        height: 100vh;
        width: 100vw;
        padding-top: 0;
    }
    .banner-content{
        padding-top: 0;
    }
    .banner-input{
        flex-direction: column;
        width: 100%;
        justify-content: start;
        gap: 10px;
        
    }
    .our-tour{
        flex-direction: column;
       gap: 24px;
    }
    .our-tour-text{
        width: 100%;
    }
    .our-tour-text li{
        max-width: 625px;
    }
    .destination{
        margin-top: 600px;
    }
    .destination-img1{
        flex-direction: column;
        gap: 10px;
    }
    .destination-img2{
       
        flex-direction: column;
        gap: 10px;
        padding:0px;
        margin-top: 10px;
    }
   .destination-img3{
    flex-direction: column;
    gap: 10px;
   }
   .choosing-reasons1{
    flex-direction: column;
   }
   .hotel,.service,.discount{
    width: 70%;
   }
   /* .discount{
    width:57% ;
   } */
   .perfect-place{
    flex-direction: column;
    gap: 24px;
   }
   .perfect-place-text{
    width: 100%;
   }
   .perfect-place-text li{
    max-width: 625px;
   }
   .perfect-place-img img{
    width:200%;
   }
   .newslater-box{
    flex-direction: column;
   }
   .newslater , .newslater input , .newslater button{
    width: 85%;
   }
   
   .newslater-img{
    padding-top: 20px;
   }
   .newslater-img img{
    width: 100%;
   }
}
